<?xml version="1.0" encoding="UTF-8"?>
<manifest package="com.cyclebikeapp.plus1"
          xmlns:android="http://schemas.android.com/apk/res/android"
          android:installLocation="auto">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        android:description="@string/permdesc_location"
        android:label="@string/permlab_location"
        android:protectionLevel="dangerous"/>

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:description="@string/permdesc_storage"
        android:label="@string/permlab_storage"
        android:protectionLevel="dangerous"/>
    <uses-permission android:name="com.dsi.ant.permission.ANT"/>
    <uses-permission android:name="com.dsi.ant.permission.ANT_ADMIN"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <uses-permission
        android:name="android.permission.INTERNET"
        android:description="@string/permdesc_location"
        android:label="@string/permlab_location"
        android:protectionLevel="dangerous"/>

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.cyclebikeapp.plus1.MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_display"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.cyclebikeapp.plus1.SettingsActivity"
            android:label="@string/activity_name"
            android:parentActivityName="com.cyclebikeapp.plus1.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cyclebikeapp.plus1.MainActivity"/>
        </activity>
        <activity
            android:name="com.cyclebikeapp.plus1.AboutScroller"
            android:parentActivityName="com.cyclebikeapp.plus1.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cyclebikeapp.plus1.MainActivity"/>
        </activity>
        <activity
            android:name="com.cyclebikeapp.plus1.ANTSettings"
            android:parentActivityName="com.cyclebikeapp.plus1.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cyclebikeapp.plus1.MainActivity"/>
        </activity>
        <activity
            android:name="com.cyclebikeapp.plus1.ANTDeviceEditor"
            android:configChanges="orientation|screenSize"
            android:parentActivityName="com.cyclebikeapp.plus1.ANTSettings"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cyclebikeapp.plus1.ANTSettings"/>
        </activity>
        <activity
            android:name="com.cyclebikeapp.plus1.AboutANTScroller"
            android:parentActivityName="com.cyclebikeapp.plus1.ANTSettings">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cyclebikeapp.plus1.ANTSettings"/>
        </activity>
        <activity
            android:name="com.cyclebikeapp.plus1.TrainerModeSettings"
            android:parentActivityName="com.cyclebikeapp.plus1.ANTSettings">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cyclebikeapp.plus1.ANTSettings"/>
        </activity>
        <activity
            android:name="com.cyclebikeapp.plus1.ShowFileList"
            android:configChanges="orientation|screenSize"
            android:parentActivityName="com.cyclebikeapp.plus1.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cyclebikeapp.plus1.MainActivity"/>
        </activity>
        <activity
            android:name="com.cyclebikeapp.plus1.RWGPSCBPlus"
            android:icon="@drawable/ic_rwgps"
            android:label="RWGPS">
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/cbplustype"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.cyclebikeapp.plus1.StravaShareCBPlus"
            android:configChanges="orientation|screenSize"
            android:icon="@drawable/ic_strava"
            android:label="Strava"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/cbplustype"/>
            </intent-filter>
        </activity>
    </application>

</manifest>